.userItem {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.userItem:first-child {
	margin-top: 0;
}

.userAvatar {
	margin-right: 20px;
	width: 70px;
	height: 70px;
}

.userAvatarCover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #8f8f8f;
	border-radius: 50%;
}

.userAvatarCover::before {
	content: 'Нет аватара';
	position: absolute;
	font-size: 12px;
	display: inline;
	padding: 5px;
	text-align: center;
}
