.label {
	margin-bottom: 10px;
	font-size: 1rem;
}

.input {
	height: 40px;
	padding: 5px;
	border: 1px solid #b7b7b7;
	border-radius: 3px;
	font-size: 1rem;
}

.input::placeholder {
	color: #b7b7b7;
}

.validationError {
	margin-top: 10px;
	color: #e10000;
	font-size: 14px;
	font-weight: bold;
}

.input:focus {
	border: 2px solid #717171;
}
