.App {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 15px 15px 15px;
	user-select: none;
}

.appTitle {
	margin-bottom: 100px;
	font-weight: bold;
}

.buttonStartOver {
	/* height: 30px; */
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 5px;
	background: #ffffff;
	transition: all 0.2s ease;
}

.buttonStartOver:hover {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}
